.item_entry {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: row;
}

.item_box {
    background: url("/all_items.png");
    width: 32px;
    height: 32px;
    transform: scale(2);
}

.slots {
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(4, 1fr);
}

.threads {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.thread {
    cursor: pointer;
    border: solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.thread:hover {
    border: solid red;
}

.thread.selected {
    border: solid red;
    background-color: red;
}

.pickup {
    width: 32px;
    height: 32px;
    background: url("/ui_crafting.png");
}